html {
  font-size: 16px;
}

.social-bar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
}

.icon-facebook {
  background: #2E406E;
}

.icon-twitter {
  background: #339DC5;
}

.icon-youtube {
  background: #E83028;
}

.icon-instagram {
  background: #3F60A5;
}

.icon {
  &:first-child {
    border-radius: 1rem 0 0 0;
  }

  &:last-child {
    border-radius: 0 0 0 1rem;
  }

  &:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  }
}

.fixed-bottom {
  position: fixed;
  bottom: 0px;
}

.logo {
  margin-top: 10px;

  /* Ajusta este valor según sea necesario */
  margin-right: 10px;

  /* Espacio entre el logo y el texto */
  width: 50px;

  /* Ajusta el ancho del logo según sea necesario */
  height: auto;

  /* Mantén la proporción del logo */
}
